<h2>Gallery</h2>

<div id="gallery" data-offset="<%= Photo::PER_REQUEST %>">
  <%= render @photos %>
</div>

<script type="text/javascript">
  $("div#gallery div.photo").css("opacity", 1);

  $(window).scroll(function() {
    var position = $(window).scrollTop() + $(window).height();

    if (position == $(document).height()) {
      var offset = $("div#gallery").data("offset");

      $.ajax({
        method: "GET",
        url: "<%= photos_path %>",
        data: { offset: offset },
        dataType: "script"
      });
    }
  });
</script>