@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";
@import "layouts";
@import "home";

div.photo-preview {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: center;

  img.overlay {
    &:not(:first-child) {
      display: none;
    }
  }
}