body {
  font-family: $body-font;
  font-weight: lighter;
  color: #555555;
  background-image: cloudinary-url("background.png");
}

div.container {
  max-width: 830px;
}

nav {
  position: relative;
  z-index: 9000;
  text-align: center;
  font-family: $display-font;
  color: white;
  background: linear-gradient(to bottom, #333333, darken(#333333, 5%));
  box-shadow: 0 1px 10px rgba(black, .25);

  a {
    margin: 5px 0;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    transition: opacity .3s;

    &:hover, &:focus {
      color: white;
      opacity: .8;
    }
  }

  i.fa {
    margin: 0 6px;
    position: relative;
    top: -1px;
    font-size: 12px;
  }
}

header {
  height: 220px;
  margin: 0 -15px;
  position: relative;
  border: 3px solid rgba(black, .25);
  background-image: cloudinary-url("banner_mini.jpg");
  background-size: 580px;
  background-position: right top;
  background-origin: border-box;

  div.callout {
    width: calc(100% - 30px);
    padding: 10px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    text-align: center;
    color: $dark-blue;
    background-color: rgba(white, .9);

    h1 {
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: $dark-red;
    }

    p {
      margin: 0;

      &:first-of-type {
        margin-bottom: 5px;
        font-style: italic;
      }

      b {
        color: $dark-red;
        white-space: nowrap;
      }
    }
  }

  a.button {
    width: auto;
    position: absolute;
    bottom: 90px;
    right: 25px;
    background-color: $dark-red;
  }

  div.social-links {
    position: absolute;
    bottom: 6px;
    right: 25px;
    font-size: 34px;

    a {
      float: left;
      color: white;
      transition: opacity .3s;

      &:hover {
        opacity: .8;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &.mini {
    height: 55px;

    a.button {
      top: 15px;
      bottom: auto;
      left: 25px;
      right: auto;
    }
  }
}

@media (min-width: 768px) {
  header {
    height: 400px;
    margin: 0;
    background-size: cover;

    div.callout {
      width: 50%;

      h1 {
        font-size: 24px;
      }

      p {
        font-size: 18px;
      }
    }

    &.mini {
      height: 75px;
    }
  }
}

footer {
  margin-bottom: 25px;
  padding: 0 15px;
  text-align: center;
  font-size: 16px;

  i.fa {
    margin: 0 6px;
    font-size: 14px;
    color: #333333;
  }

  a, a:hover, a:focus {
    font-weight: normal;
    text-decoration: underline;
    color: $dark-red;
  }
}