small.disclaimer {
  margin-top: 5px;
  display: block;
  color: #777777;
}

form#new_photo {
  width: calc(100% - 50px);
  margin-top: 20px;
  float: right;

  div.form-group {
    position: relative;

    > i.fa {
      position: absolute;
      right: -40px;
      display: none;
      font-size: 35px;
      line-height: 40px;
      color: $green;
    }

    @media (max-width: 767px) {
      > i.fa {
        display: none !important;
      }
    }
  }

  button, input[type="submit"] {
    background-color: $dark-red;

    &.disabled {
      opacity: .25;
      cursor: not-allowed;
    }
  }

  input[type="file"] {
    position: absolute;
    left: -9999px;
  }
}

div#example-photo {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-image: cloudinary-url("example_photo.jpg");
  transform: rotate(10deg);
  backface-visibility: hidden;
}

div#gallery {
  text-align: center;

  div.photo {
    width: 290px;
    height: 290px;
    margin: 0 auto 25px auto;
    opacity: 0;
  }

  @media (min-width: 768px) {
    div.photo {
      display: inline-block;

      &:nth-child(odd):not(:last-child) {
        margin-right: 28px;
      }
    }
  }
}

form#preview-photo {
  margin-top: 20px;
  text-align: center;

  button {
    width: 40px;
    border-radius: 50%;
    box-shadow: inset 0 0 20px rgba(white, .25);

    &:not(:last-of-type) {
      margin-right: 6px;
    }

    &[data-color="red"] {
      background-color: $red;
    }

    &[data-color="gold"] {
      background-color: $gold;
    }

    &[data-color="green"] {
      background-color: $green;
    }

    &[data-color="blue"] {
      background-color: $blue;
    }

    &[data-color="purple"] {
      background-color: $purple;
    }
  }

  div.checkbox {
    margin: 20px 0 25px 0;
    font-size: 18px;

    label {
      padding: 0;
    }

    span.fa-stack {
      font-size: 16px;

      i.fa-check {
        top: -2px;
        opacity: 0;
        transition: opacity .3s;
      }
    }

    input[type="checkbox"] {
      display: none;

      &:checked + span.fa-stack i.fa-check {
        opacity: 1;
      }
    }
  }

  input[type="submit"] {
    width: 180px;
    background-color: $dark-red;
  }

  div.separator {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
    color: $dark-red;
  }

  a.button {
    width: 180px;
    margin-bottom: 15px;
  }
}

div#photo-preview {
  width: 290px;
  height: 290px;
  margin: 20px auto;
  position: relative;

  img.overlay {
    width: 100%;
    position: absolute;
    top: 0;
    border-radius: 10px;
    transition: opacity .3s;

    &:not(:first-child) {
      opacity: 0;
    }
  }
}

div#share {
  margin-top: 20px;

  h3, div.step {
    width: calc(100% - 50px);
    float: right;
  }

  h3 {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: $dark-blue;
  }

  div.step {
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;

    &:last-child {
      margin-bottom: 20px;
    }

    a.button {
      margin-bottom: 5px;
      background-color: $dark-red;
    }

    a:not(.button) {
      font-weight: normal;
      text-decoration: underline;
      color: $dark-red;
    }
  }

  div.photo {
    width: 290px;
    height: 290px;
    margin: 0 auto;

    & + a.button {
      width: 290px;
      margin: 20px auto 15px auto;
      display: block;
      background-color: $dark-red;
    }
  }
}

@media (max-width: 767px) {
  div#share {
    h2 {
      font-size: 26px;
    }

    a.button {
      font-size: 16px;
    }
  }
}